version: "3"
services:
  ganache:
    image: trufflesuite/ganache-cli
    container_name: ganache
    volumes:
      - ./ganache-data:/ganache-data
    ports:
      - "8545:8545"
    entrypoint:
      - "node"
      - "/app/ganache-core.docker.cli.js"
      - "-s"
      - "async-art"
      # - "-m"
      # - "path local suggest utility axis mandate ten digital quality fee pull van"
      - "--db"
      - "/ganache-data"
      - "--networkId"
      - "321"
      - "--time"
      - "2020-07-25T08:24:37+00:00"
      - "--gasLimit"
      - "10000000"

  graph-node:
    image: graphprotocol/graph-node:18b6183
    # image: graphprotocol/graph-node:dc82611
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8020:8020"
      - "8030:8030"
      - "8040:8040"
    depends_on:
      - ipfs
      - postgres
      - ganache
    environment:
      postgres_host: postgres:5432
      postgres_user: graph-node
      postgres_pass: let-me-in
      postgres_db: graph-node
      ipfs: "ipfs:5001"
      ethereum: "ganache:http://ganache:8545"
      RUST_LOG: info

  ipfs:
    image: ipfs/go-ipfs:v0.4.23
    ports:
      - "5001:5001"
    volumes:
      - ./data/ipfs:/data/ipfs

  postgres:
    image: postgres
    ports:
      - "5432:5432"
    command: ["postgres", "-cshared_preload_libraries=pg_stat_statements"]
    environment:
      POSTGRES_USER: graph-node
      POSTGRES_PASSWORD: let-me-in
      POSTGRES_DB: graph-node
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
